.fa-lg {
    padding: 2rem;
    font-size: 5rem;
}

.mat-dialog-actions {
    justify-content: center;
}

::ng-deep.mat-dialog-container {
    background-color: #343a40 !important;
}

.btn {
    flex-grow: 1;
}

.btn-confirm {
    background-color: #c5e3ff;
}

.btn-cancel {
    background-color: #3a9efd;
}

.text-color {
    color: #3a9efd;
}
