<div mat-dialog-content>
  <div class="row">
    <div class="col-12 fa-lg text-center">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3>{{data.message}}</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 justify-content-center">
    <div mat-dialog-actions>
      <button mat-raised-button class="btn btn-cancel text-white" (click)="onNoClick()">Cancelar
        <i class="fa fa-close text-white"></i>
      </button>
      <button mat-raised-button class="btn btn-confirm text-color" [mat-dialog-close]="true" cdkFocusInitial>Eliminar
        <i class="fa fa-trash text-color"></i></button>
    </div>
  </div>
</div>