<app-nav-bar></app-nav-bar>
<div class="d-flex justify-content-center pt-5">
    <div class="row pt-5">
        <div class="col-7 col-sm-7 col-md-7 col-lg-5 pt-5 m-auto">
            <div class="card text-center bg-dark" style="width: 35rem;">
                <i class="fa fa-plus fa-lg fa-color"></i>
                <div class="card-body">
                    <h5 class="card-title text-color">Registrar Usuario</h5>
                    <p class="card-text text-color">Anda y registra un usuario en este hermoso CRUD *corazoncito*.</p>
                    <a href="/create-user" class="btn btn-primary">Regristrar Usuario</a>
                </div>
                <div class="card-footer text-muted">
                    Sherly Sánchez - DEBT PAYOFF
                </div>
            </div>
        </div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-5 pt-5 m-auto">
            <div class="card text-center bg-dark" style="width: 35rem;">
                <i class="fa fa-eye fa-lg fa-color"></i>
                <div class="card-body">
                    <h5 class="card-title text-color">Lista de Usuarios</h5>
                    <p class="card-text text-color">Vea la lista de usuarios registrados en este hermoso CRUD *corazoncito*.</p>
                    <a href="/user-list" class="btn btn-primary">Ver Listado</a>
                </div>
                <div class="card-footer text-muted">
                    Sherly Sánchez - DEBT PAYOFF
                </div>
            </div>
        </div>
    </div>
</div>