<div class="body-style">
    <app-nav-bar></app-nav-bar>

    <div class="row mt-5 mr-0">
        <div class="col-12 p-0 d-flex justify-content-center">
            <div class="col-7 text-center">
                <table class="table table-striped">
                    <thead class="header text-color bg-dark">
                        <tr>
                            <th scope="col"> Usuario </th>
                            <th scope="col"> Nombre </th>
                            <th scope="col"> Apellido </th>
                            <th scope="col"> Email </th>
                            <th scope="col"> Teléfono </th>
                            <th scope="col"> Dirección </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let users of userListArray" class="table-body">
                            <td> {{users.username}} </td>

                            <td> {{users.name}} </td>

                            <td> {{users.lastname}} </td>

                            <td> {{users.email}} </td>

                            <td> {{users.phone}} </td>

                            <td> {{users.address}} </td>

                            <td>
                                <div class="btn" style="cursor: pointer;">

                                </div>
                            </td>
                        </tr>
                    </tbody>


                </table>
            </div>

        </div>
    </div>
</div>