<div class="body-style">
    <app-nav-bar></app-nav-bar>
    <div class="row mr-0">
        <div class="col-12 d-flex justify-content-center">
            <div class="card text-center bg-dark pt-5 pl-5 pr-5" style="width: 40rem; margin-top: 10rem;">
                <div class="card-body">
                    <div class="card-title text-center text-color">
                        <h3> ¡Registro de Usuario Exitoso! </h3>
                    </div>
                    <i class="fa fa-check fa-lg fa-color fa-color"></i>
                    <div class="row">
                        <div class="col-12 text-color">
                            Felicidades por registrar un usuario en este hermoso CRUD. *corazoncito*
                        </div>
                    </div>
                    <a href="/create-user" class="btn btn-primary btn-style">Regristrar Usuario</a>
                    <a href="/user-list" class="btn btn-primary btn-style">Ver Listado</a>
                </div>
                <div class="card-footer text-muted">
                    Sherly Sánchez - DEBT PAYOFF
                </div>
            </div>
        </div>
    </div>
</div>