.body-style {
    background-color: #fcfcfc;
    height: 100vh;
}

.fa-lg {
    padding: 2.5rem;
    font-size: 5rem;
}

.fa-color {
    color: white;
}

.text-color {
    color: white;
}

.btn-style {
    width: 30%;
    padding: 1.5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}
