<app-nav-bar></app-nav-bar>

<form class="row justify-content-center pt-5" (keydown.enter)="$event.preventDefault()" [formGroup]="signIn">
    <!-- USER NAME -->
    <div class="col col-7 col-md-5 col-lg-5 d-flex justify-content-start align-items-center p-0">
        <div class="form-group col col-11">
            <label for="username">Nombre de Usuario</label>
            <input type="username" maxlength="40" [class.is-valid]="signIn.get('username').valid"
                [class.is-invalid]="!signIn.get('username').valid && signIn.get('username').value !== ''"
                formControlName="username" class="form-control" required>
            <small *ngIf="!signIn.get('username').valid" [hidden]="signIn.get('username').value === ''"
                class="text-danger">El nombre de usuario es requerido.</small>
        </div>
    </div>

    <!--NOMBRE-->
    <div class="col col-7 col-md-5 col-lg-5  d-flex justify-content-start align-items-center p-0">
        <div class="form-group col col-11">
            <label for="name">Nombre</label>
            <input type="name" maxlength="40" [class.is-valid]="signIn.get('name').valid"
                [class.is-invalid]="!signIn.get('name').valid && signIn.get('name').value !== ''" formControlName="name"
                class="form-control" required>
            <small *ngIf="!signIn.get('name').valid" [hidden]="signIn.get('name').value === ''" class="text-danger">
                El nombre es requerido.
            </small>
        </div>
    </div>

    <!--APELLIDO-->
    <div class="col col-7 col-md-5 col-lg-5  d-flex justify-content-start align-items-center p-0">
        <div class="form-group col col-11">
            <label for="lastname">Apellido</label>
            <input type="lastname" maxlength="40" [class.is-valid]="signIn.get('lastname').valid"
                [class.is-invalid]="!signIn.get('lastname').valid && signIn.get('lastname').value !== ''"
                formControlName="lastname" class="form-control" required>
            <small *ngIf="!signIn.get('lastname').valid" [hidden]="signIn.get('lastname').value === ''"
                class="text-danger">
                El apellido es requerido.
            </small>
        </div>
    </div>

    <!--DIRECCION-->
    <div class="col col-7 col-md-5 col-lg-5  d-flex justify-content-start align-items-center p-0">
        <div class="form-group col col-11">
            <label for="address">Dirección</label>
            <input type="address" maxlength="250" [class.is-valid]="signIn.get('address').valid"
                [class.is-invalid]="!signIn.get('address').valid && signIn.get('address').value !== ''"
                formControlName="address" class="form-control" required>
            <small *ngIf="!signIn.get('address').valid" [hidden]="signIn.get('address').value === ''"
                class="text-danger">
                La dirección es requerida.
            </small>
        </div>
    </div>

    <!--TELEFONO-->
    <div class="col col-7 col-md-5 col-lg-5  d-flex justify-content-start align-items-center p-0">
        <div class="form-group col col-11">
            <label for="phone">Teléfono</label>
            <input type="phone" maxlength="16" [class.is-valid]="signIn.get('phone').valid"
                [class.is-invalid]="!signIn.get('phone').valid && signIn.get('phone').value !== ''"
                formControlName="phone" class="form-control" required mask="(000) 000-0000">
            <small *ngIf="!signIn.get('phone').valid" [hidden]="signIn.get('phone').value === ''" class="text-danger">
                El teléfono es requerido.
            </small>
        </div>
    </div>

    <!--CORREO ELECTRÓNICO-->
    <div class="col col-7 col-md-5 col-lg-5 d-flex justify-content-start align-items-center p-0">
        <div class="form-group col col-11">
            <label for="email">Correo Electrónico</label>
            <input type="email" maxlength="40" [class.is-valid]="signIn.get('email').valid"
                [class.is-invalid]="!signIn.get('email').valid && signIn.get('email').value !== ''"
                formControlName="email" class="form-control" required>
            <small *ngIf="!signIn.get('email').valid" [hidden]="signIn.get('email').value === ''" class="text-danger">
                El correo electrónico es inválido.
            </small>
        </div>
    </div>
    <div class="mb-3 row">
        <button mat-button class="btn-primary col-10 col-md-5">Registrar</button>
    </div>
</form>